<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

                                        <!-- DAO -->
<bean id="coefficientDao" class="pension.dao.CoefficientDao">
</bean>

<bean id="experienceDao" class="pension.dao.ExperienceDao">
</bean>

<bean id="middleSalaryDao" class="pension.dao.MiddleSalaryDao">
</bean>

<bean id="pensionerDao" class="pension.dao.PensionerDao">
		<property name = "jdbcTemplate"
                ref  = "jdbcTemplate"              />
        <property name = "selectByIdStatment">
       	          <value><![CDATA[
			SELECT * FROM Pensioner WHERE idPensioner = ?
			]]></value>
		</property>
        <property name = "selectByNameStatment">
       	          <value><![CDATA[
			SELECT * FROM Pensioner WHERE secondName = ?
			]]></value>
		</property>
        <property name = "insertStatment">
       	          <value><![CDATA[
			INSERT INTO Pensioner(firstName, secondName, thirdName, birthday, INN, sex, expKoef, salKoef, adress, pensionType) values(?,?,?,?,?,?,?,?,?,?)
			]]></value>
		</property>
        <property name = "updateStatment">
       	          <value><![CDATA[
			UPDATE Pensioner set firstName = ?, secondName = ?, thirdName = ?, birthday = ?, INN = ?, sex = ?, expKoef = ?, salKoef = ?, adress = ?, pensionType = ? where idPensioner = ?
			]]></value>
		</property>
</bean>

                                      <!-- TARGETS -->
<bean id="pensionerManagerServiceTarget" class="pension.service.impl.PensionerManagerServiceImpl">
      <property name="pensionerDao" ref="pensionerDao"/>
</bean>

<!--  <bean id="coefficientManagerServiceTarget" class="pension.service.impl.CoefficientManagerServiceImpl">
		<property name="coefficientDao" ref="coefficientDao"/>
</bean>

<bean id="middleSalaryManagerServiceTarget" class="com.pension.service.impl.MiddleSalaryManagerServiceImpl">
		<property name="middleSalaryDao" ref="middleSalaryDao"/>
</bean>
<bean id="experienceManagerServiceTarget" class="pension.service.impl.ExperienceManagerServiceImpl">
		<property name="experienceDao" ref="experienceDao"/>
</bean> -->
	
</beans>









